name: Build Notebook Container
on: [push]
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:

    - name: checkout files in repo
      uses: actions/checkout@main

    - name: update jupyter dependencies with repo2docker
      uses: jupyterhub/repo2docker-action@master
      with: # make sure username & password/token matches your registry
        DOCKER_USERNAME: ${{ secrets.USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.PAT }}
        DOCKER_REGISTRY: "ghcr.io"
        IMAGE_NAME : "nrdg/autofq-hub"
